%h1 すべてのオークション

%table.table
  %thead
    %tr
      %th 商品名
      %th 現在価格
      %th 入札
      %th 終了日時

  %tbody
    - @auctions.each do |auction|
      %tr
        %td= link_to auction.name, auction
        %td 0円
        %td 0
        %td= l(auction.expired_at)

.text-center= paginate @auctions
