%h1 登録済みの商品一覧

.pull-right
  = link_to '商品を登録する', new_product_path, class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th 名前
      %th 説明

  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.name, product
        %td= product.description

.text-center= paginate @products
